// vari
$bodyBgColor = #f7f7f7
$mainBgColor = #ffffff

html
  font-size 10px
  -webkit-text-size-adjust 100%

p
h1
h2
h3
h4
h5
h6
  margin 0

a
  text-decoration none


body
  font-family 'Montserrat', Arial, sans-serif
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing antialiased
  overflow-x hidden

  .blog
    max-width 960px
    min-height 100vh
    margin: 0 auto

    .content
      box-sizing border-box
      width 100%
      padding 40px
      margin 0 auto

      main
        padding 2rem 0
