@media (min-width: 768px)
  article
    padding 2rem 0



@media (max-width: 768px)
  .site-branding
    width 100% !important

  .site-navigation
    width 100% !important
    text-align left !important

  .content
    padding-top 40px !important

  article
    padding 2.5rem 0 !important

